body {
   
    background:radial-gradient(circle, rgba(166,0,255,0) 0%, rgba(2,0,36,0.3) 100%), url(../images/f1.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    


    
    }
h1{
    color: yellow;
    top: 21px;
    text-align: center;
}
/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: gray;
    position: sticky;
    top: 0px;
    transition: .3s;
    z-index: 20;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 14.286%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    transition: .3s;
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
    transition: .3s;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}

p{
    color: azure;
    text-align: center;
    
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

#dark_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
    z-index: 10;
}

/* Animation css de transition */
.fadeIn {
    animation: fadeIn linear .3s forwards;
}

.fadeOut {
    animation: fadeOut linear .3s forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.no_opacity {
    opacity: 0;
}

.test{
    color : red;

}